:root {
	--fontSize: 14px;
	--lineHeight: 1.8;
}

html, body {
	background-color: white;
	color: #424242;
  	font-family: 'Inter', monospace;
}

h1, h2 {
	color: #222;
}

.person {
	margin: 40px 0;
}

.person h3 {
	color: #222;
	border-bottom: 3px solid #3D93F6;
	margin-bottom: 10px;
}

.fun-fact:before, .talk:before {
	font-weight: 700;
	color: #222;
}

.fun-fact, .about, .talk {

}

.fun-fact::before {
	content: 'Fun fact: ';
}

.talk::before {
	content: 'Talk to me about: ';
}

.about {
	padding-bottom: 20px;
}

.link,
.link:visited,
.link:link{
	color: #3D93F6;
	text-decoration: underline;
}
