/* Reset */
* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #fdf6e3;
}

body {
  font-family: 'Roboto Mono', monospace;

  margin: 100px auto;
  display: block;
  width: 100%;
  max-width: 600px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 700;
  color: #657b83;
  margin-bottom: 24px;
}

h2 {
  color: #657b83;
  font-size: 18px;
  margin-bottom: 8px;
}

h3 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 14px;
}

div {
  font-size: 14px;
  color: #657b83;
  line-height: 1.5;
}

.divider {
  margin: 32px 0;
}

#people {

}

.person {
  margin-bottom: 16px;
  color: #586e75
}

.fun-fact::before {
  content: 'Fun fact: ';
  color: #6c71c4
}

.coop::before {
  content: 'Last coop: ';
  color: #2aa198;
}

.talk::before {
  content: 'Talk to me about: ';
  color: #dc322f;
}
