:root {
	--fontSize: 15px;
	--lineHeight: 1.8;
}

@media only screen and (max-device-width: 500px) {
	main {
		max-width: 100% !important;
		zoom: 200%;
	}
	h1, h2 {
		--lineHeight: 1;
	}
}

main {
	max-width: 500px;
	padding: 20px;
	margin: auto;
}

html, body {
	width: 100% !important;
	background-color: white;
	color: #424242;
  	font-family: 'Inter', monospace;
}

h1, h2 {
	color: #222;
}

.person {
	margin: 50px 0;
}

.person h3 {
	color: #222;
	border-bottom: 3px solid #3D93F6;
	margin-bottom: 10px;
}

.fun-fact:before, .talk:before {
	font-weight: 700;
	color: #222;
}

.fun-fact::before {
	content: 'Fun fact: ';
}

.talk::before {
	content: 'Talk to me about: ';
}

.about {
	padding-bottom: 20px;
}

.link,
.link:visited,
.link:link{
	color: #3D93F6;
	text-decoration: underline;
}
